<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reddit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Reddit Page</h3>

  <ion-list>
    <ion-item>
      <ion-label fixed>Category</ion-label>
      <ion-select (ionChange)="changeCategory()" [(ngModel)]="category" name="category">
        <ion-option value="food">Food</ion-option>
        <ion-option value="malaysia">Malaysia</ion-option>
        <ion-option value="laravel">Laravel</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail *ngIf="item.data.thumbnail!='self'" item-left>
        <img src="{{ item.data.thumbnail }}">
      </ion-thumbnail>
      <h2>{{ item.data.title }}</h2>
      <p>
        <ion-icon name="thumbs-up">{{ item.data.score }}</ion-icon>&nbsp;&nbsp;
        <ion-icon name="chatboxes">{{ item.data.num_comments }}</ion-icon>
      </p>

      <button ion-button clear item-right (click)="viewItem(item.data)">View</button>
    </ion-item>
  </ion-list>

</ion-content>
